*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}
form{
 

    margin: 1rem;
}
form select,input,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid lightgray;
    font-size: 1rem;
}
.dropdown {
 
    margin-top: 2rem;
    
display: flex;
justify-content: space-between;
align-items: center;

}
.select-container select {
    width: auto;
    font-size: 1rem;
}

.select-container img{
   max-width: 2rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container{
display: flex;
width: 6rem;

justify-content: center;
border: 1px solid lightgray;
border-radius: 0.75rem;
align-items: center;
}
.msg{
   margin: 2rem 0 2rem 0 ;
}
form button{
height: 3rem;
background-color: rgb(66, 133, 133);
color: white;
font-size: 1.15rem;
cursor: pointer ;
}
.msg{
    font-size: 1.2rem;
    font-weight: 700;

}